:host{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .swith-component{
        display: flex;
        justify-content: end;
        
        input{
            cursor: pointer;

        }
    }
}
