<div class="container-button-and-search">
    <button (click)="changeAsideState()">
        <ng-icon name="lucideLogs" size="24" strokeWidth="0.8"/>
    </button>
    
    <div class="container-search">
    
    </div>
</div>

<h1 class="title-logo">
</h1>

<div>
    <button>
        <ng-icon name="lucideMoon" size="20px" strokeWidth="0.8"  />
    </button>
    <button>
        <ng-icon name="lucideBell" size="20px" strokeWidth="0.8" />
    </button>
    <span class="user">
        <button class="icon-user">
            <img src="https://i.pravatar.cc/150?img=8" alt="" width="48">
        </button>
        <span>
            <p class="title">Jemilson Luis</p>
            <p class="subtitle">Admin.</p>
        </span>
    </span>
</div>